# AgentCore Memory resource in the same AWS region as this application.
AWS_REGION=eu-north-1
AGENTCORE_MEMORY_ID=
AGENTCORE_MEMORY_NAMESPACE_TEMPLATE=traveler/__ACTOR_ID__/profile
AWS_PROFILE=default
